.#*
#.*
*.swp
.DS_Store

/*/target
/target
/project/project/target

.#*
/scratch
.ensime
.ensime_cache
.sass-cache
.history
.idea
*.class
.idea

hs_err_*.log
_book
node_modules

__pycache__
*.pyo
*.pyc

decks/
